a,
h1 {
	font-family: 'Wendy One', sans-serif;

}

body {
	/*background-image: url('../images/beerglass.jpg');*/
	/*background-repeat: no-repeat;
	background-size: 100% ;*/
}

#title {
	 -webkit-text-stroke: 1px black;
   color: orangered;
   text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
       font-size: 600%;
}

.navbar-nav {
  width: 100%;
}

.nav-item {
  width: 30%;
  text-align: center;
  margin-left: 3%;
  font-size: 20px;
}

#active {
  color: orangered;
}

#beer-buttons {
  text-align: center;
}