a ,
h4 {
  font-family: 'Acme', sans-serif;
}

h1 {
	font-family: 'Wendy One', sans-serif;
}

body {
	/*background-image: url('../images/beerglass.jpg');*/
	/*background-repeat: no-repeat;
	background-size: 100% ;*/
}

#title {
	 -webkit-text-stroke: 1px black;
   color: orangered;
   text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
       font-size: 600%;
}

.navbar-nav {
  width: 100%;
}

.nav-item {
  width: 30%;
  text-align: center;
  margin-left: 3%;
  font-size: 20px;
}

#active {
  color: orangered;
}

#beer-buttons {
  text-align: center;
}

#brewery-submit {
  background-color: white;
  padding: 20px;
  border-radius: 15px;
  opacity: .9;
}

#brewer-button {
  width: 100%;
  background-color: #1F9968;
  color: black;
  background-image: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.3) 50%, rgba(255,255,255,0.5) 51%);
}

input:focus {
  box-shadow: 0 0 5px rgb(51, 195, 67);

  border: 1px solid rgb(20, 159, 104);
}

#selected-brewer {
  width: 100%;
  background-color: white;
  color: black;
}

.dropdown-menu {
  width: 100%;
  text-align: center;
}

.dropdown-item:hover {
  background-color: 	rgba(255, 69, 0, .7);

  color: black;
}



    /*MAP CSS*/

#map-div {
  padding: 0 !important;
}
#map_canvas {
height: 500px;
width: 100%;
margin: auto;
padding: 0px;
border: 2px solid #3872ac;
}
